In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('C:/Users/pc/OneDrive/바탕 화면/DataFrame.csv')

In [3]:
data.shape

(2423760, 40)

In [5]:
data=data.drop(labels='Unnamed: 0',axis=1)

In [6]:
data.head()

,경도,위도,year,month,day,hour,min,주소_강남구,주소_강동구,주소_강북구,...,주소_종로구,주소_중구,주소_중랑구,dayofweek_0,dayofweek_1,dayofweek_2,dayofweek_3,dayofweek_4,dayofweek_5,dayofweek_6
0,126.859911,37.555537,2021,9,29,0.0,5.0,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1,127.018013,37.567483,2021,9,29,0.0,38.0,False,False,False,...,False,True,False,False,False,True,False,False,False,False
2,127.012793,37.569183,2021,9,29,0.0,38.0,False,False,False,...,False,True,False,False,False,True,False,False,False,False
3,126.847125,37.547040,2021,9,29,0.0,50.0,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4,127.015703,37.569085,2021,9,29,1.0,15.0,False,False,False,...,False,True,False,False,False,True,False,False,False,False

In [8]:
data.shape

(2423760, 39)

In [9]:
data.to_csv('C:/Users/pc/OneDrive/바탕 화면/DataFrame_Second.csv',index=False)